{% extends 'base.html.twig' %}

{% block body %}    
    <h2>Louez des Bd Gratuitement</h2>
    <a id="abonne" class="btn btn-primary btn-lg" href="{{path('inscription')}}">ABONNEZ-VOUS</a>    
{% endblock %}
