{% extends 'base.html.twig' %}

{% block body %}    
    <h2>Louez des Bd Gratuitement</h2>
    <h3>Rent-A-Comic la location de BD nouveau genre :</h3>
    <h4>100% en ligne, 100% gratuit, 100% moderne.</h4>
    <h3>Un site proposé par la mairie de Paris.</h3>
    {%if app.user %}
        
    {%else%}
        <a id="abonne" class="btn btn-primary btn-lg" href="{{path('inscription')}}">ABONNEZ-VOUS</a>
    {%endif%}
{% endblock %}
