header{
    display: inline-flex
}

.login{
    float: right;
    margin-top: 30px;   margin-left: 20px;
}

#menu{
    margin-top: 20px;   margin-left: 20px;
}

#inscription{
    position: absolute;
    padding: 10px;   
    box-shadow: -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
            -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
    background-color: #eee;
}

#inscription input{
    width: 300px;
}

.resultats{
    display: flex;
    border: solid;
    padding: 5px;
    background-color: #eee;
}

.filtres{
    border: solid;
    padding: 5px;
    background-color: #eee;
}

#abonne{
    margin-left: 400px;
    margin-top: 20px;
    padding: 30px
}

#inscription #appbundle_user_Enregistrer{
    padding: 5px 11px;
    margin-top: 5px;
    background-color: gainsboro;
}

.form-control{    
    width: 200px
}

#dropdownMenu1{
    border: solid;
    margin: 10px 20px;
}

.dropdown-menu{
    border: solid;
}

.span3{
    border: solid;
    padding: 5px;
}

.span6{
    border: solid;
    padding: 5px;
}

h2{
    color: gray
}
h4{
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top: 26px;
 }

 .img-resized{
     width:200px;
     height:300px;
 }
 
 .resultatsBd{
    border: solid;
    margin-top: 25px;
    padding: 5px;
    background-color: #eee;
}